volumes:
  postgres_data:
  minio_data:


services:
  web:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
      - ./gcp_key.json:/app/gcp_key.json
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/gcp_key.json
    ports:
      - "8001:8000"
    env_file:
      - .env
    depends_on:
      - redis
      - db

  worker:
    build: .
    command: celery -A app.workers.celery_app worker --loglevel=info
    volumes:
      - .:/app
      - ./gcp_key.json:/app/gcp_key.json
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/gcp_key.json
    env_file:
      - .env
    depends_on:
      - redis
      - db

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=tunaide
    ports:
      - "5433:5432"
